*{
  box-sizing: border-box;
  padding: 0;
  margin-left: 0;
}

.container {
  width: 1000px;
  margin: auto;
}

header {
  height: 150px;
  background-color: #FEFE3A;
}

main {
  margin: 10px 0;
}

main::after {
  content: "";
  display: block;
  clear: both;
}

.col-left {
  float: left;
  height: 250px;
  width: 27%;
  margin-right: 3%;
  background-color: #CC87DA;
}

.col-central {
  float: left;
  padding: 180px;
  width: 40%;
  background-color: #730671 ;
}

.col-right>aside{
  float: left;
  height: 170px;
  width: 27%;
  margin-left: 3%;
  background-color: #CC87DA;
}

#col-right-2{
  margin-top:20px;
}

footer{
  height: 70px;
  background-color: #A4D2E1;
}
